 #container{
        margin: 20px;
/* 	 position:relative; */

    }
    span:first-child{
/*         content: "Before content: "; */
        color: #f00;
        font-size: 20px;
    }
   span:last-child{
/*         content: "Before after: "; */
        color: #f00;
        font-size: 20px;
    }